body {
  /* Location of the image */
  /*background-image: url(backgrounds.jpg);*/
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #99999999;
}
.module {
  position: center center;
  overflow: hidden;
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
}
table, th, td {
    border: 1px solid black;
}

#headDiv {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#x {
    position: center;
    bottom: 5px;
}
#Dkij {
    position: center;
    left: 70px;
}
#input_m {
    position: center;
    right: 2px;
}
#size_q {
    position: center;
    left: 2px;
}
#graphics {
    position: center;
    top: -100px;
    width: 500px;
    height: 350px;
}
#graphics1 {
    position: center;
    top: -450px;
    left: 500px;
    width: 500px;
    height: 350px;
}
table, th, td {
    border: 1px solid black;
}


